$signup-background: '../resources/bg.png';

.sigupBackground {
  background: url($signup-background) no-repeat center;
  background-size: 100%;
}

h2.signupTitle {
  color: white;
}

h4.signupTitle {
  color: white;
}

.opaque {
  opacity: 0.9;
}